@import url('https://fonts.googleapis.com/css?family=Faster+One|Nothing+You+Could+Do|Press+Start+2P&display=swap');
/* font-family: 'Faster One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Nothing You Could Do', cursive; */

#body {
    background-color: aliceblue;
}
#navBar {
    display: flex;
    justify-content: center;
    font-family: 'Faster One', cursive;
    font-size: 80px;
    background-image: url("/dice-png-28.png");
    height: 100px;
}
#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
#selectPlayer {
    font-family: 'Faster One', cursive;
    font-size: 40px;
    margin-bottom: 0;
}
#addName {
    font-family: 'Press Start 2P', cursive;
}
#selectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#rightSide {
    display: flex;
   flex-direction: column;
   margin-top: 40px;

}
#leftSide {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
#middle {
    display: flex;
    margin-top: 30px;
}
#spMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}
#mpMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px
}
#spInput {
    height: 20px;
}
#P1 {
    height: 20px;
}
#P2 {
    margin-top: 10px;
    height: 20px;
}
#spPlay {
    font-family: 'Faster One', cursive;
    font-size: 20px;
}
#mpPlay {
    font-family: 'Faster One', cursive;
    font-size: 20px;
}
#sp {
font-family: 'Press Start 2P', cursive;
font-size: 10px;
}
#mp {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}